.categoryBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryTitle {
  text-align: center;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #f6f6f6;
}
.categoryBarList {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 0px;
}

.categoryBarList li {
  border: 1px solid #333842;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryBarList li h2 {
  color: #f6f6f6;
}

.categoryListEntry {
  padding: 7px 8px;
}

.categoryListEntry h2 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}
.categoryListEntry:hover {
  text-decoration: underline;
  color: white;
}

@media screen and (min-width: 426px) {
  .categoryTitle {
    text-align: left;
  }

  .categoryBarContainer {
    width: 20%;
    padding-left: 40px;
  }

  .categoryBarList {
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
  }
  .categoryBarList li {
    border: none;
    padding: 0;
    display: block;
  }

  .categoryBarList li h2 {
    color: #f6f6f6;
    text-align: unset;
  }
}
